In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [7]:
ser1 = Series([1,2,3,4], index = ['one','two','three','four'])
ser1

one      1
two      2
three    3
four     4
dtype: int64

In [8]:
my_index = ser1.index
my_index

Index(['one', 'two', 'three', 'four'], dtype='object')

In [9]:
my_index[1]

'two'

# we can't assign new index value since indexes are immutable

In [15]:
ser2 = ser1.reindex(['A','B','C','D','one','two','three'])
ser2

A        NaN
B        NaN
C        NaN
D        NaN
one      1.0
two      2.0
three    3.0
dtype: float64

In [17]:
ser2 = ser1.reindex(['A','B','C','D','one','two','three'], fill_value=0)
ser2

A        0
B        0
C        0
D        0
one      1
two      2
three    3
dtype: int64

In [20]:
ser3 = Series(['cat','dog','rabbit','panda'], index=[1,5,9,18])
ser3

1        cat
5        dog
9     rabbit
18     panda
dtype: object

In [21]:
ser4 = ser3.reindex(range(20),method='ffill')
ser4

0        NaN
1        cat
2        cat
3        cat
4        cat
5        dog
6        dog
7        dog
8        dog
9     rabbit
10    rabbit
11    rabbit
12    rabbit
13    rabbit
14    rabbit
15    rabbit
16    rabbit
17    rabbit
18     panda
19     panda
dtype: object

# to reindex both rows and columns in a DataFrame

In [24]:
new_df = DataFrame((np.random.randn(25)).reshape(5,5), index = ['A','B','C','E','F'], columns = ['C1','C2','C3','C5','C6'])
new_df

         C1        C2        C3        C5        C6
A  0.853282  1.335115  1.245887 -0.850124 -1.273454
B  0.895954 -0.505880 -1.707068  1.164469  0.763711
C  0.738317 -0.092123  2.091589  1.247904  0.681178
E -0.643707 -0.425711 -0.712917 -1.112634 -0.418952
F  0.057736 -0.718050 -0.334812 -0.630886  1.155243

In [25]:
df1 = new_df.reindex(['A','B','C','D','E','F'])
df1

         C1        C2        C3        C5        C6
A  0.853282  1.335115  1.245887 -0.850124 -1.273454
B  0.895954 -0.505880 -1.707068  1.164469  0.763711
C  0.738317 -0.092123  2.091589  1.247904  0.681178
D       NaN       NaN       NaN       NaN       NaN
E -0.643707 -0.425711 -0.712917 -1.112634 -0.418952
F  0.057736 -0.718050 -0.334812 -0.630886  1.155243

In [26]:
df2 = new_df.reindex(columns = ['C1','C2','C3','C4','C5','C6'])
df2

         C1        C2        C3  C4        C5        C6
A  0.853282  1.335115  1.245887 NaN -0.850124 -1.273454
B  0.895954 -0.505880 -1.707068 NaN  1.164469  0.763711
C  0.738317 -0.092123  2.091589 NaN  1.247904  0.681178
E -0.643707 -0.425711 -0.712917 NaN -1.112634 -0.418952
F  0.057736 -0.718050 -0.334812 NaN -0.630886  1.155243

In [30]:
my_df = new_df.reindex(['A','B','C','D','E','F'],columns = ['C1','C2','C3','C4','C5','C6'])
my_df

         C1        C2        C3  C4        C5        C6
A  0.853282  1.335115  1.245887 NaN -0.850124 -1.273454
B  0.895954 -0.505880 -1.707068 NaN  1.164469  0.763711
C  0.738317 -0.092123  2.091589 NaN  1.247904  0.681178
D       NaN       NaN       NaN NaN       NaN       NaN
E -0.643707 -0.425711 -0.712917 NaN -1.112634 -0.418952
F  0.057736 -0.718050 -0.334812 NaN -0.630886  1.155243