In [2]:
import numpy as np
import pandas as pd
from pandas import Series

In [5]:
ser1 = Series([8,9,10,11])

In [6]:
ser1

0     8
1     9
2    10
3    11
dtype: int64

In [7]:
ser2 = Series([2,3,4,5], index=['two','three','four','five'])
ser2

two      2
three    3
four     4
five     5
dtype: int64

we can access a value by it's index

In [22]:
ser2['five']

5

we can check if an index is present in a series

In [27]:
'six' in ser2

False

Filter series based on conditions

In [32]:
ser2[ser2<4]

two      2
three    3
dtype: int64

we can also add series objects. Pandas tries to add the object values based on indexes. If the indexes doesn't match below is the result.

In [29]:
ser3 = Series([1,2,3,4])

In [30]:
ser2 + ser3

0       NaN
1       NaN
2       NaN
3       NaN
five    NaN
four    NaN
three   NaN
two     NaN
dtype: float64

# convert series to dictionary

In [9]:
my_dict = ser2.to_dict()
my_dict

{'two': 2, 'three': 3, 'four': 4, 'five': 5}

# convert dictionary to series and in specific order of index

In [12]:
my_series = Series(my_dict, index = ['four','three', 'one', 'two','five'])
my_series

four     4.0
three    3.0
one      NaN
two      2.0
five     5.0
dtype: float64

# setting name for series and other elements

In [13]:
my_series.name = 'numbers'
my_series

four     4.0
three    3.0
one      NaN
two      2.0
five     5.0
Name: numbers, dtype: float64

In [14]:
my_series.index

Index(['four', 'three', 'one', 'two', 'five'], dtype='object')

In [15]:
my_series.values

array([ 4.,  3., nan,  2.,  5.])

In [18]:
my_series.index.name = 'Number name'
my_series

Number name
four     4.0
three    3.0
one      NaN
two      2.0
five     5.0
Name: numbers, dtype: float64

cannot set name for series values

In [19]:
my_series.isnull()

Number name
four     False
three    False
one       True
two      False
five     False
Name: numbers, dtype: bool

In [21]:
my_series.notnull()

Number name
four      True
three     True
one      False
two       True
five      True
Name: numbers, dtype: bool